---
http_interactions:
- request:
    method: get
    uri: https://api.content.market.yandex.ru/v2/categories?count=30&geo_id=225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - some_secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Market-Req-Id:
      - 1545660652508/11de5b809782bd8b8b4921f259e5bae2
      X-Region-Id:
      - '225'
      X-Ratelimit-Method-Limit:
      - '100'
      X-Ratelimit-Method-Remaining:
      - '99'
      X-Ratelimit-Method-Until:
      - Mon, 24 Dec 2018 14:10:53 GMT
      X-Ratelimit-Global-Limit:
      - '2'
      X-Ratelimit-Global-Remaining:
      - '1'
      X-Ratelimit-Global-Until:
      - Mon, 24 Dec 2018 14:10:53 GMT
      X-Ratelimit-Daily-Limit:
      - '1000000000'
      X-Ratelimit-Daily-Remaining:
      - '999997022'
      X-Ratelimit-Daily-Until:
      - Tue, 25 Dec 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"status":"OK","context":{"region":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10,"country":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10}},"currency":{"id":"RUR","name":"руб."},"page":{"number":1,"count":18,"total":1},"id":"1545660652508/11de5b809782bd8b8b4921f259e5bae2","time":"2018-12-24T17:10:52.512+03:00","marketUrl":"https://market.yandex.ru?pp=1001&clid=2326601&distr_type=7"},"categories":[{"id":90402,"name":"Авто","fullName":"Товары
        для авто- и мототехники","link":"https://market.yandex.ru/catalog--tovary-dlia-avto-i-mototekhniki/90402/list?hid=90402&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":12,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":90509,"name":"Красота","fullName":"Товары
        для красоты","link":"https://market.yandex.ru/catalog--tovary-dlia-krasoty/90509/list?hid=90509&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":3,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":90666,"name":"Товары
        для дома","fullName":"Товары для дома","link":"https://market.yandex.ru/catalog--tovary-dlia-doma/90666/list?hid=90666&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":9,"advertisingModel":[...]
