---
http_interactions:
- request:
    method: get
    uri: https://api.content.market.yandex.ru/v2/categories?count=30&geo_id=225&page=1&sort=BY_NAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Market-Req-Id:
      - 1545723375909/26560954d2a15c42e6b7192593193433
      X-Region-Id:
      - '225'
      X-Ratelimit-Method-Limit:
      - '100'
      X-Ratelimit-Method-Remaining:
      - '99'
      X-Ratelimit-Method-Until:
      - Tue, 25 Dec 2018 07:36:16 GMT
      X-Ratelimit-Global-Limit:
      - '2'
      X-Ratelimit-Global-Remaining:
      - '0'
      X-Ratelimit-Global-Until:
      - Tue, 25 Dec 2018 07:36:16 GMT
      X-Ratelimit-Daily-Limit:
      - '1000000000'
      X-Ratelimit-Daily-Remaining:
      - '999999180'
      X-Ratelimit-Daily-Until:
      - Wed, 26 Dec 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"status":"OK","context":{"region":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10,"country":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10}},"currency":{"id":"RUR","name":"руб."},"page":{"number":1,"count":18,"total":1},"id":"1545723375909/26560954d2a15c42e6b7192593193433","time":"2018-12-25T10:36:15.912+03:00","marketUrl":"https://market.yandex.ru?pp=1001&clid=2326601&distr_type=7"},"categories":[{"id":90402,"name":"Авто","fullName":"Товары
        для авто- и мототехники","link":"https://market.yandex.ru/catalog--tovary-dlia-avto-i-mototekhniki/90402/list?hid=90402&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":12,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":198118,"name":"Бытовая
        техника","fullName":"Бытовая техника","link":"https://market.yandex.ru/catalog--bytovaia-tekhnika/198118/list?hid=198118&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":6,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":90719,"name":"Дача,
        сад и огород","fullName":"Дача, сад и огород","link":"https://market.yandex.ru/catalog--dacha-sad-i-ogorod/90719/list?hid=90719&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":13,"adv[...]
- request:
    method: get
    uri: https://api.content.market.yandex.ru/v2/categories/90402/children?count=30&geo_id=225&page=1&sort=BY_NAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Market-Req-Id:
      - 1545723376555/4a32709d3a429121a65ae7755fed69c6
      X-Region-Id:
      - '225'
      X-Ra[...]
[...]
