---
http_interactions:
- request:
    method: get
    uri: https://api.content.market.yandex.ru/v2/categories?geo_id=225
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Market-Req-Id:
      - 1542203621550/c850a990024b042fd825ffbd8c850125
      X-Region-Id:
      - '225'
      X-Ratelimit-Method-Limit:
      - '100'
      X-Ratelimit-Method-Remaining:
      - '99'
      X-Ratelimit-Method-Until:
      - Wed, 14 Nov 2018 13:53:42 GMT
      X-Ratelimit-Global-Limit:
      - '2'
      X-Ratelimit-Global-Remaining:
      - '0'
      X-Ratelimit-Global-Until:
      - Wed, 14 Nov 2018 13:53:42 GMT
      X-Ratelimit-Daily-Limit:
      - '1000000000'
      X-Ratelimit-Daily-Remaining:
      - '999972893'
      X-Ratelimit-Daily-Until:
      - Thu, 15 Nov 2018 00:00:00 GMT
    body:
      encoding: UTF-8
      string: '{"status":"OK","context":{"region":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10,"country":{"id":225,"name":"Россия","type":"COUNTRY","childCount":10}},"currency":{"id":"RUR","name":"руб."},"page":{"number":1,"count":10,"total":2},"id":"1542203621550/c850a990024b042fd825ffbd8c850125","time":"2018-11-14T16:53:41.553+03:00","marketUrl":"https://market.yandex.ru?pp=1001&clid=2326601&distr_type=7"},"categories":[{"id":90402,"name":"Авто","fullName":"Товары
        для авто- и мототехники","link":"https://market.yandex.ru/catalog--tovary-dlia-avto-i-mototekhniki/90402/list?hid=90402&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":12,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":90509,"name":"Красота","fullName":"Товары
        для красоты","link":"https://market.yandex.ru/catalog--tovary-dlia-krasoty/90509/list?hid=90509&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":3,"advertisingModel":"HYBRID","viewType":"LIST"},{"id":90666,"name":"Товары
        для дома","fullName":"Товары для дома","link":"https://market.yandex.ru/catalog--tovary-dlia-doma/90666/list?hid=90666&onstock=1&pp=1001&clid=2326601&distr_type=7","childCount":9,"advertisingModel":[...]
- request:
    method: get
    uri: https://api.content.market.yandex.ru/v2/categories/90402/children?count=30&geo_id=225&page=1&sort=BY_NAME
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - secret_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Market-Req-Id:
      - 1542203623201/05671b8c5075c1d6211aeebc7b36ba62
      X-Region-Id:
      - '225'
      X-Ra[...]
[...]
